<div class="container">
  <div class="user-profile pt-5 pb-5">
    <h1>User Profile</h1>
    <div class="user-profile-wrapper">
      <div class="profile-header">
        <h3><span>User info</span></h3>
      </div>
      <div class="profile-content">
        <div class="row profile-user-info">
          <div class="col-md-8">
            <div class="profile-user-details ">
              <div class="profile-user-details-image">
                <img src="http://placehold.it/32x32" class="avatar" alt="Avatar">
              </div>
            </div>
            <div class="profile-user-details d-block d-md-flex align-items-center">
              <div class="profile-user-details-label">
                User Name
              </div>
              <div class="profile-user-details-value">
                Kimberly Chavez
              </div>
            </div>
            <div class="profile-user-details d-block d-md-flex align-items-center">
              <div class="profile-user-details-label">
                User age
              </div>
              <div class="profile-user-details-value">
                40
              </div>
            </div>
            <div class="profile-user-details d-block d-md-flex align-items-center">
              <div class="profile-user-details-label">
                Address
              </div>
              <div class="profile-user-details-value">
                10880 Malibu Point, Malibu, Calif., 90265
              </div>
            </div>
            <div class="profile-user-details d-block d-md-flex align-items-center">
              <div class="profile-user-details-label">
                Email
              </div>
              <div class="profile-user-details-value">
                scarlett@avengers.com
              </div>
            </div>
            <div class="profile-user-details d-block d-md-flex align-items-center">
              <div class="profile-user-details-label">
                Phone number
              </div>
              <div class="profile-user-details-value">
                011 223 344 556 677
              </div>
            </div>
            <div class="profile-user-details d-block d-md-flex align-items-center">
              <div class="profile-user-details-label">
                Balance
              </div>
              <div class="profile-user-details-value">
                3 350 897
              </div>
            </div>
            <div class="profile-user-details d-block d-md-flex align-items-center">
              <div class="profile-user-details-label">
                Registered
              </div>
              <div class="profile-user-details-value">
                05-7-8-12018
              </div>
            </div>
          </div>
          <div class="col-md-4 tags-block">
            <h4>Tags</h4>
            <ul class="list-unstyled d-flex flex-wrap align-items-center">
              <li class="tags-item">occaecat</li>
              <li class="tags-item">mollit</li>
              <li class="tags-item">anim</li>
              <li class="tags-item">dolore</li>
              <li class="tags-item">sunt</li>
              <li class="tags-item">ea</li>
            </ul>
          </div>
        </div>
        <div class="profile-user-about">
          <div class="profile-header">
            <h3><span>About user</span></h3>
          </div>
          <p>
            Duis pariatur sit elit proident ut eiusmod sint laborum et ad duis aliquip in. Aute quis eu elit ex do est magna consectetur mollit deserunt exercitation ipsum pariatur ad. Mollit consectetur ullamco aliquip quis qui amet ea aliquip. Labore aliqua veniam id nulla et sunt proident enim anim. Non cillum pariatur esse labore mollit proident in labore enim. Amet minim dolor dolore laborum nulla.\r\n
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
