<div class="container">
  <div class="user-list-wrapper">
    <div class="table-title">
      <div class="d-block d-sm-flex justify-content-between align-items-center">
        <h2 class="text-white">User <b>List</b></h2>
        <a href="#" class="btn btn-primary d-flex align-items-center"><i class="fa fa-plus-circle fa-lg"></i><span>Add New User</span></a>
      </div>
    </div>
    <ul class="table-content list-unstyled">
      <li class="user-item d-flex flex-wrap align-items-center font-weight-bolder bg-white border-bottom">
        <div class="d-none d-md-block col-md-1 pt-3 pb-3">1</div>
        <div class="col-12 col-md-3 pt-3 pb-3 user-images">
          <a routerLink="/user-list/1" class="d-flex align-items-center">
            <img src="http://placehold.it/32x32" class="avatar" alt="Avatar">
            <div class="user-info">
              <span class="d-block user-name">Name name</span>
              <span class="d-block user-company">Company</span>
            </div>
          </a>
        </div>
        <div class="col-12 col-md-4 pt-3 pb-3 d-flex align-items-center">
          <i class="fa fa-envelope fa-lg mr-2" aria-hidden="true"></i>
          <a href="mailto: kimberlychavez@voratak.com">kimberlychavez@voratak.com</a>
        </div>
        <div class="col-6 col-md-2 pt-3 pb-3"><span class="user-state user-state--active">Active</span></div>
        <div class="col-6 col-md-2 pt-3 pb-3 delete-btn"><span class="fa-container-primary"><i class="fa fa-trash-o fa-sm" aria-hidden="true"></i></span></div>
      </li>
      <li class="user-item d-flex flex-wrap align-items-center font-weight-bolder bg-white border-bottom">
        <div class="d-none d-md-block col-md-1 pt-3 pb-3">1</div>
        <div class="col-12 col-md-3 pt-3 pb-3 user-images">
          <a href="" class="d-flex align-items-center">
            <img src="http://placehold.it/32x32" class="avatar" alt="Avatar">
            <div class="user-info">
              <span class="d-block user-name">Name name</span>
              <span class="d-block user-company">Company</span>
            </div>
          </a>
        </div>
        <div class="col-12 col-md-4 pt-3 pb-3 d-flex align-items-center">
          <i class="fa fa-envelope fa-lg mr-2" aria-hidden="true"></i>
          <a href="mailto: kimberlychavez@voratak.com">kimberlychavez@voratak.com</a>
        </div>
        <div class="col-6 col-md-2 pt-3 pb-3"><span class="user-state user-state--active">Active</span></div>
        <div class="col-6 col-md-2 pt-3 pb-3 delete-btn"><span class="fa-container-primary"><i class="fa fa-trash-o fa-sm" aria-hidden="true"></i></span></div>
      </li>
      <li class="user-item d-flex flex-wrap align-items-center font-weight-bolder bg-white border-bottom">
        <div class="d-none d-md-block col-md-1 pt-3 pb-3">1</div>
        <div class="col-12 col-md-3 pt-3 pb-3 user-images">
          <a href="" class="d-flex align-items-center">
            <img src="http://placehold.it/32x32" class="avatar" alt="Avatar">
            <div class="user-info">
              <span class="d-block user-name">Name name</span>
              <span class="d-block user-company">Company</span>
            </div>
          </a>
        </div>
        <div class="col-12 col-md-4 pt-3 pb-3 d-flex align-items-center">
          <i class="fa fa-envelope fa-lg mr-2" aria-hidden="true"></i>
          <a href="mailto: kimberlychavez@voratak.com">kimberlychavez@voratak.com</a>
        </div>
        <div class="col-6 col-md-2 pt-3 pb-3"><span class="user-state user-state--inactive">Inactive</span></div>
        <div class="col-6 col-md-2 pt-3 pb-3 delete-btn"><span class="fa-container-primary"><i class="fa fa-trash-o fa-sm" aria-hidden="true"></i></span></div>
      </li>
    </ul>
  </div>
</div>
