<div class="container">
  <div class="user-list-wrapper" *ngIf="!!userList">
    <div class="table-title">
      <div class="d-block d-sm-flex justify-content-between align-items-center">
        <h2 class="text-white">User <b>List</b></h2>
        <a
          class="btn btn-primary d-flex align-items-center text-white"
          (click) = "showModal($event)"
          >
          <i class="fa fa-plus-circle fa-lg"></i>
          <span>Add New User</span>
        </a>
      </div>
    </div>
    <ul class="table-content list-unstyled">
      <app-user-item-card *ngFor="let user of userList; let i = index;" [user]="user" [index]="i" (deleteUser)="deleteUser($event)"></app-user-item-card>
    </ul>
    <p *ngIf="userList.length === 0">User list is empty!</p>
  </div>
</div>
