.user-list-wrapper {
  padding: 100px 0;
  .table-title {
    padding: 20px 15px;
    background-color: $info;

    h2 {
      @include media('≥tablet') {
        margin-bottom: 0;
      }
    }

    .btn {
      i {
        margin-right: 10px;
      }
    }
  }

  .user-item {
    font-size: 0.8rem;
    .user-images {
      img {
        min-width: 32px;
        max-width: 32px;
        border-radius: 50%;
        margin-right: 10px;
      }

      .user-info {
        .user-company {
          font-size: 0.7rem;
          font-style: italic;
        }
      }
    }

    .user-state {
      display: inline-block;
      padding: 2px 4px;
      color: $white;
      font-size: 0.75rem;

      &--active {
        background-color: $green;
      }

      &--inactive {
        background-color: $gray-700;
      }
    }

    .delete-btn {

      .fa-container-primary {
        width: auto;
        max-width: 150px;
        height: auto;
        border-radius: 5px;
        padding: 7px 10px;

        @include media('≥tablet') {
          width: 25px;
          height: 25px;
          max-width: 25px;
          border-radius: 50%;
          padding: 0;
        }
      }

      .delete-btn__mobile-text {
        display: inline-block;
        margin-left: 5px;

        @include media('≥tablet') {
          display: none;
        }
      }
    }
  }
}
